/* Button styles */
/* button {
	padding: 12px 16px;
	border-radius: 90px;
	border: none;
	cursor: pointer;
} */

.register{
    margin-top: 50px;
}

.register-btn-sty:hover {
    transition: 0.5s;
    background: #3772FF;
    color: #FCFCFD;
}

.register-form {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

/* Modal styles */
.modal__register {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

/* Modal content styles */
.modal-content {
    background-color: white;
    margin: 10% auto;
    padding: 20px;
    border-radius: 27px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 60%;
    max-width: 600px;
    position: absolute;
    right: 32%;
    top: -52px;
}

/* Close button styles */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

label {
    margin-top: 20px;
    font-size: 18px;
}

.register-form-name,
.register-form-email,
.register-form-password {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #ccc;
    font-size: 16px;
}

.register-form-name:focus,
.register-form-email:focus,
.register-form-password:focus {
    outline: none;
    border-bottom-color: #008080;
}

.valid {
    border-bottom-color: green !important;
}

.invalid {
    border-bottom-color: red !important;
}

/* Error message styles */
.error {
    color: red;
    font-size: 14px;
    display: none;
    margin-bottom: 0;
    text-align: center;
}

.valid-message {
    color: green;
    font-size: 14px;
    display: none;
    margin-bottom: 0;
    text-align: center;
}

.invalid-feedback {
    color: red;
}

.register-title {
    padding: 10px;
    cursor: pointer;
    border: 1px solid #e0e0e0
}

.register__btn {
    display: flex;
}

.register-title.active {
    display: block;
    background: #3772FF;
    color: #FCFCFD;

}

.tabs__item {
    display: none;
}

.tabs__item.active {
    display: block;
}






.field-set {
    display: flex;
    flex-direction: column;
}


.input-item {
    background: #fff;
    color: #333;
    padding: 14.5px 0px 15px 9px;
    border-radius: 5px 0px 0px 5px;
}



/* Show/hide password Font Icon */
#eye {
    right: -92%;
    bottom: 46px;
    position: relative;
    z-index: 5;
    cursor: pointer;
}

/* inputs form  */
input[class="form-input"] {
    width: 100%;
    height: 50px;

    margin-top: 2%;
    padding: 15px;

    font-size: 16px;
    font-family: 'Abel', sans-serif;
    color: #5E6472;

    outline: none;
    border: none;

    border-radius: 0px 5px 5px 0px;
    transition: 0.2s linear;

    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #ccc;
    font-size: 16px;

}

/* focus  */
input:focus {
    transform: translateX(-2px);
    border-radius: 5px;
}


.register-btn-sty {
    background: rgb(245, 241, 241);
    border-radius: 5px;

    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #23262F;

    outline: none;
    border: none;

    cursor: pointer;
    text-align: center;
    transition: all 0.2s linear;

    padding: 12px 16px;
    border-radius: 90px;
    border: none;
    cursor: pointer;
}

/* Submits */
.submits {
    width: 48%;
    display: inline-block;
    margin-left: 2%;
}

/*       Forgot Password button FAF3DD  */
.frgt-pass {
    background: transparent;
}

/*     Sign Up button  */


/* buttons hover */
.register-btn-sty:hover {
    transform: translatey(3px);
    box-shadow: none;
}

/* buttons hover Animation */
.register-btn-sty:hover {
    animation: ani9 0.4s ease-in-out infinite alternate;
}

@keyframes ani9 {
    0% {
        transform: translateY(3px);
    }

    100% {
        transform: translateY(5px);
    }
}