.bid {
    padding: 140px 0;

    &__title {
        font-size: 40px;
        line-height: 48px;
    }

    &__container {
        margin-top: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        img {
            border-radius: 10px;
        }

        &--price {
            display: flex;
            justify-content: space-between;
            align-items: center;

            div {
                border: 2px solid #45B26B;
                color: #45B26B;
                padding: 2px 3px;
                font-size: 12px;
                line-height: 12px;
            }
        }

        &--info {
            display: flex;
            justify-content: space-between;
            align-items: center;

            &__prof {
                position: relative;
            }

            &__avatar {
                &--one {
                    position: absolute;
                    left: 0;
                    bottom: -13px;
                }

                &--second {
                    position: absolute;
                    left: 10px;
                    bottom: -13px;
                }

                &--three {
                    position: absolute;
                    left: 20px;
                    bottom: -13px;
                }
            }
        }

        &--new {
            display: flex;
            justify-content: space-between;
            align-items: center;

            p {
                font-size: 12px;
                line-height: 12px;
            }

            &__price {
                display: flex;
                align-items: center;
                gap: 9px;

                h4 {
                    font-size: 12px;
                    line-height: 12px;
                    font-style: bold;
                }
            }

        }
    }

    &__main {
        display: flex;
        flex-direction: column;
        gap: 15px;

        h4 {
            font-size: 16px;
            line-height: 24px;
        }
    }
}